---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import '../styles/variables.scss';
import '../styles/global.css';

import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';
import siteData from "../data/metadata.json";
import siteInfo from "../data/siteData.json";
import ChatContainer from "../components/chat/ChatContainer";

const pageTitle = "Chat room";
const pageDescription = "Welcome to Vedic Astrology website by Steve Hora!";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "Horoscope Predictions", "Mundane Wordly Predictions"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = new URL("/", Astro.url);
const pageimageUrl = siteInfo.default.openGraph.basic.image; //"/images/success.jpg";
const pageUrl = siteURL + siteData.menu.url3;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail,
  type: "Webpage",
  imageUrl: pageimageUrl
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url3, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};
const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return Astro.redirect("/signin");
}

let session;
try {
  session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });
  if (session.error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });
    return Astro.redirect("/signin");
  }
} catch (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return Astro.redirect("/signin");
}

const email = session.data.user?.email;
---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
	<ion-text color="secondary">
    <h1>Welcome {email}</h1>
    <p>We are happy to see you here.</p>
		<h5>Chat with Steve Hora, Vedic Astrology Expert</h5>
	</ion-text>
  <ChatContainer client:load />

	<ion-text color="secondary">
  <br />
	<h1>References</h1>
	<p><ion-router-link href="https://stevehora.com" title="Steve Hora">Vedic Astrology by Steve Hora</ion-router-link></p>
	</ion-text>
	<section>
		<p><ion-router-link href="https://www.quora.com/profile/Steve-Hora" rel="noopener noreferrer"  target="_blank"  title="Quora Q2A">Most Viewed Writer on Jyotish (Vedic Astrology) on Quora</ion-router-link></p>
	</section>
	<p><ion-router-link class="custom-center-label custom-footer-label" href="/about/" title="Copyright">{siteData.copyright}</ion-router-link>.</p>
  <!-- <p>
  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
  </form>
  </p> -->
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    
    border: 0px solid #ccc;
    border-radius: 5px;
    width: 10.0rem;
  }

  input[type="text"] {
    padding: 0.05rem;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 20rem;
  }

  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>