---
import background from '../assets/background.svg';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import siteData from "../data/metadata.json";
import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';

const pageTitle = "Contact Us";
const pageDescription = "Contact information of Steve Hora, Vedic Astrologer!";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "vedicastrology123@gmail.com", "www.stevehora.com"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = canonicalURL;
const pageUrl = canonicalURL;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail,
  type: "Webpage",
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url4, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};

---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
		<ion-text color="secondary">
			<h1>Contact Us</h1>
		</ion-text>
		<section>
			<p><ion-router-link  href="mailto:vedicastrlogy123@gmail.com" title="eMail of Steve Hora, Vedic Astrologer">Email to Steve Hora, Vedic Astrology Expert.</ion-router-link></p>
			<p><ion-router-link  href="https://api.whatsapp.com/send/?phone=918610386346&text&type=phone_number&app_absent=0" rel="noopener noreferrer"  target="_blank"  title="Whatsapp">Chat on Whatsapp.</ion-router-link></p>
			<p><ion-router-link  href="https://chat.arattai.in/groups/j43545f313239303430363134313434313835363839315f32303030363635363837322d47437c3031303131323034333234353137353935373138353436383830" rel="noopener noreferrer"  target="_blank"  title="Arattai">Join our Arattai App Group.</ion-router-link></p>
			<p>Address: Chennai, India. and SFO, California, USA.</p>
			<p>Mobile number: +91 8610386346.</p>
		</section>
</Layout>