---
import background from '../assets/background.svg';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import siteData from "../data/metadata.json";
import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';

const pageTitle = "Contact Us";
const pageDescription = "Contact information of Steve Hora, Vedic Astrologer!";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "vedicastrology123@gmail.com", "www.stevehora.com"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = canonicalURL;
const pageUrl = canonicalURL;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail,
  type: "Webpage",
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url4, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};

---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
		<ion-text color="secondary">
			<h1>Contact Us</h1>
		</ion-text>
		<section>
			<p><ion-router-link  href="mailto:vedicastrlogy123@gmail.com" title="eMail of Steve Hora, Vedic Astrologer">Email to Steve Hora, Vedic Astrology Expert.</ion-router-link></p>
			<p><ion-router-link href="https://chat.google.com" rel="noopener noreferrer"  target="_blank"  title="Google Chat">Send a New Chat request to vedicastrology123@gmail.com, to chat with Steve Hora.</ion-router-link></p>
			<p><h5><ion-router-link href="https://docs.google.com/forms/d/e/1FAIpQLSf2SIxzRL87dW-pwnVLh5Q484ou7vLD1Yx-cKBLD7iXQvR3_g/viewform?pli=1"  rel="noopener noreferrer"  target="_blank" title="Horoscope predictions">For Horoscope predictions, Click here...</h5></ion-router-link></h5></p>
			<p>Address: Chennai, India. and SFO, California, USA.</p>
		</section>
</Layout>