---
import background from '../assets/background.svg';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import siteData from "../data/metadata.json";
import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';

const pageTitle = "Vedic Astrology-stevehora.com, Vedic Astrologer";
const pageDescription = "Hora Vedic Astrology Advice by Steve for Birth Chart Wealth Predictions Mundane wordly Kundali Jyotish India Marriage Love Compatibility Shri Chakra !";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "vedicastrology123@gmail.com", "www.stevehora.com", "Vedic Astrology", "Jyotish", "Calculate your Vedic Astrology Birth Chart", "Astrological advice", "Wealth", "Matrimony matching", "love compatibility", "27 nakshatras", "20 divisional charts", "Astrology Quora Question and Answers"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const pageUrl = pageWebsite + siteData.menu.url4;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url4, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};

---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
		<ion-text color="secondary">
			<h1>Vedic Astrology</h1>
			<ion-router-link  href="/about/" title="Steve"><h2 style="color: #007bff; display: inline;">- Steve Hora</h2>, <h3 style="color: #007bff; display: inline;">Vedic Astrologer</h3></ion-router-link>	
		</ion-text>
		<section>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is one of the limbs of Vedas, the ancient Hindu scriptures. In  <ion-router-link  href="https://en.wikipedia.org/wiki/Hindu_astrology" rel="noopener noreferrer"  target="_blank"  title="Vedic Astrology Wiki">Vedic Astrology</ion-router-link>, the destiny of a person is determined by his/her karma, which is set forth in the cosmic design.
</p><p>
Vedic and Western astrology have some similarities, namely the 12 signs of the zodiac. Vedic astrology emphasizes on the rising sign at the precise moment of birth rather than the 30-day sun sign of western astrology. Moon sign is given more importance in vedic, to know mental characteristics.</p>
<p>
In Vedic astrology, an expert astrologer, is known as Jyotish, uses a variety of divisional birth charts to do detailed reading of a chart.
</p>
<h3>For example</h3>
<p>Hora is a divisional chart for predicting wealth from the birth chart. 7th house is used to forecast relationships in <ion-router-link  href="/articles/marriage-compatibility/" title="Marriage">Matrimony Matching</ion-router-link> and also for love compatibility.  <ion-router-link  href="/articles/nakshatras/" title="Nakshatras">27 nakshatras</ion-router-link>  are used for the compatibility test.
<br /><br />
Read more on <ion-router-link  href="/articles/hora-wealth/" title="Wealth">Hora for wealth predictions</ion-router-link>.
<br /><br />
There are 16 divisional charts which are used for prediction purposes of various life events. Famous charts like, of Dhoni, has various yogas which can be delineated from these divisional charts. e.g. Name and Fame, Wealth.
<br /><br />
<h4>Planets and Houses - Birth Chart Predictions</h4>
</p><p>
A birth chart is read in entirety of all the 12 houses or parts which govern different aspects of your life.

Each house has its own significance by knowing its strength, weakness, life events for that house and its good and bad time.

One can Enjoy the good strength (Karma) in good time. And with Free Will, one can Do good karma, for protection from bad karma in bad times.
<br /><br />
<h4>Karma and Vedic Astrology</h4>
<p>
<b>What you sow is what you reap</b>, which is the Karmic way for Universal judgment and it is between births.

We are reborn to Enjoy or Suffer of our past birth karmic deeds. The horoscope is the photo-capture of our previous birth karma.

We can modify, suffer, enjoy, deny, postpone, BUT we cannot escape the karmic effect. We can carry forward it to the next birth.

An expert Vedic Astrologer will predict the life events and give Karmic solutions.

<h5>Astrology - Using a Scientific Method</h5>

<h6>Do I use one. Yes, I do. How do I do?</h6>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When reading a Horoscope, a Vedic one, there are two parts. Prediction of a Life event and Timing of the predicted event.

<h6>First Part is Prediction</h6>
</p><p>
Reading based on the position of Grahas, and its significance with respect to houses, signs, nakshatras and most importantly Amsa (Divisional charts).

The above is about the metaphysical meaning of the horoscope to the life events. This can vary depending on the methodology followed by the Astrologer and his/her experience and adeptness.
</br></br>
<h6>My method</h6>
</p><p>
I use Vedic (Sidereal) horoscope for Accurate timing and analysis, according to Lahiri Ayanamsa (Chitra paksha), using sidereal solar years of 360, Analysis is as per Parasara system.

<h6>Second Part is the timing of events</h6>
</p><p>
This is the crux part and **math is involved, which should be scientific.**

I use the same timing algorithm for all events of each houses and for any horoscope.
</br></p>
<p>
<h5>Example</h5>
</p><p>
Timing for health is from 1st house and for Career it is 10th house. Both time period running parallel with different overlapping time periods. Not one Mahadasa or antara taking care of both 1st and 10th. That is crappy.

This way there will be 12 dasha-antara running parallel for all the 12 houses.
</p><p>
This explains some of the crude logic of life, namely, a person will be earning a lot, but simultaneously suffering from a disease.
</br></br>
It is 11th house and 6th house happening as per the first part’s prediction in its own time.

My Timing: Timing using Vimshottari Dasha system and Samaya Amsa or Kaala or Naadi timing technique.
</br></br>
<ion-router-link  href="https://www.youtube.com/@vedicastrology_steve" rel="noopener noreferrer"  target="_blank"  title="Vedic Astrology youtube">More on my youtube channel</ion-router-link>.
</br></br>
So be it. Tathaastu.

</p>
    </section>
</Layout>