---
import '../styles/variables.scss';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';
import siteData from "../data/metadata.json";
import siteInfo from "../data/siteData.json";

const pageTitle = "About Us";
const pageDescription = "Welcome to Vedic Astrology website by Steve Hora!";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "Horoscope Predictions", "Mundane Wordly Predictions"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = canonicalURL;
const pageimageUrl = siteInfo.default.image; //"/images/success.jpg";
const pageUrl = canonicalURL;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail,
  type: "Webpage",
  imageUrl: pageimageUrl
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url3, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};

---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
	
	<br />
	<ion-text color="secondary">
		<h1>For Free AI based Horoscope Predictions</h1>
	</ion-text>
	<ul>
		<li>
		<ion-text color="secondary">
		<h5><ion-router-link style="color: rgb(240, 69, 69)" href="https://www.perplexity.ai/spaces/horoscope-predictions-xHWoMnLvRveMS2Lot7MD7g" target="_blank" title="Steve Hora Telegram">Perplexity AI based free horoscope predictions, click here...</ion-router-link></h5>
		</li>
		<li>
		<h5><ion-router-link style="color: rgb(240, 69, 69)" href="https://chatgpt.com/gg/v/6999599bd64081a28a29bd66aab50507?token=cgIEA6UEP6bBpEXucIei5A" target="_blank" title="Steve Hora Telegram">ChatGPT AI based free horoscope predictions, click here...</ion-router-link></h5>
		</li>
	</ul>
	</ion-text>
	<br />
	<ion-text color="secondary">
		<h1>For Paid Horoscope Predictions, reach Steve Hora, Vedic Astrologer</h1>
	</ion-text>
	<ul>
		<li>
		<p><h5><ion-router-link href="https://chat.google.com" rel="noopener noreferrer"  target="_blank"  title="Google Chat">Google Chat at vedicastrology123@gmail.com.</ion-router-link></h5></p>
		</li>
		<li>
		<p><h5><ion-router-link href="https://t.me/stevehora" target="_blank" title="Steve Hora Telegram">Telegram Chat App.</ion-router-link></h5></p>
		</li>
		<li>
		<p><h5><ion-router-link href="https://signal.me/#in/stevehora" target="_blank" title="Steve Hora Telegram">Signal Chat App.</ion-router-link></h5></p>
		</li>
		<li>
		<p><h5><ion-router-link href="https://docs.google.com/forms/d/e/1FAIpQLSf2SIxzRL87dW-pwnVLh5Q484ou7vLD1Yx-cKBLD7iXQvR3_g/viewform?pli=1"  rel="noopener noreferrer" target="_blank" title="Horoscope predictions">Google Form to fill your birth details.</h5></ion-router-link></h5></p>
		</li>
	</ul>
	<ion-text color="secondary">
		<h1>Sample Paid Horoscope Predictions as below...</h1>
	</ion-text>
<p><strong>Name : </strong><strong>Person</strong></p>
<p><strong>Date of Birth : </strong> 15-July-1984</p>
<p><strong>Time of Birth : </strong> 00:15 AM</p>
<p><strong>Place of Birth : </strong> (Town, City and Country) Hyderabad, Andhra Pradesh, India</p>
<p><strong>Life questions for predictions : </strong> Currently I am facing tough challenges in my career so, could you please check my horoscope and share the remedies.</p>
<p><strong>Chart Analysis and Prediction<br /></strong>Your Vedic horoscope is made according to True Lahiri Ayanamsa (Chitra paksha), using true sidereal solar years of Sun traversing 360 degrees sidereal.</p>
<p>With all due respect to&nbsp;<strong>Lord Shiva and Lordess Parvathi</strong>&nbsp;and to the&nbsp;<strong>Gurus of Astrology, I </strong>proceed to read your birth horoscope as per Parasara system and Timing using Vimshottari Dasha system and Samaya Amsa or Kaala timing technique, a mathematical model of Agasthiya Naadi.</p>
<p><strong>Career </strong>(10<sup>th</sup> house) <br />In Lagna chart, the lagna &hellip;&hellip;&hellip;&hellip;.</p>
<p>Shani is with Kuja &hellip;&hellip;..</p>
<p>Shani is in the &hellip;&hellip;&hellip;&hellip;.</p>
<p>Kuja is in the nakshatra of &hellip;&hellip;&hellip;&hellip;..</p>
<p>Shani and Kuja are in a way in Kendra giving rise to KendraAdthiPaditya dosha&hellip;&hellip;.</p>
<p>Shukra as a double Maraka &hellip;&hellip;&hellip;...</p>
<p>Shani is a Badaka &hellip;&hellip;</p>
<p>Surya being a Yogakaraka &hellip;...</p>
<p>Guru as another Yogakaraka will bring luck in &hellip;.<br /><strong>In Navamsa (Karmic-strength)</strong> &ndash; The Career is good and brings &hellip;...<br /><strong>In Dasamsa (Career)</strong> &ndash; The Career is Not good. Amsa is &hellip;..<br /><strong>Net result</strong> &ndash; Problems are there in Career due to &hellip;..<br /><strong>Timing of Event<br /></strong>Below calculation is specific for <strong>Career</strong> in Vimshottari Dasha. Current Dasha is of Guru, which is ..</p>
<p><img src="images/image1.png" alt="" /></p>
<p>Below calculation is specific for <strong>Career</strong> based on <strong>Agastya Naadi</strong>.</p>
<table>
<tbody>
<tr>
<td>
<p><strong>From</strong></p>
</td>
<td>
<p><strong>To</strong></p>
</td>
<td>
<p><strong>Predictions</strong></p>
</td>
</tr>
<tr>
<td>
<p>Jul 2025</p>
</td>
<td>
<p>Aug 2026</p>
</td>
</tr>
<tr>
<td>
<p>Now</p>
</td>
<td>
<p>5<sup>th</sup> Feb 2026</p>
</td>
</tr>
<tr>
<td>
<p>5<sup>th</sup> Feb 2026</p>
</td>
<td>
<p>9<sup>th</sup> Mar 2026</p>
</td>
</tr>
<tr>
<td>
<p>Mar 2026</p>
</td>
<td>
<p>13<sup>th</sup> Apr 2026</p>
</td>
</tr>
<tr>
<td>
<p>Aug 2026</p>
</td>
<td>
<p>Sep 2027</p>
</td>
</tr>
<tr>
<td>
<p>Sep 2027</p>
</td>
<td>
<p>Oct 2028</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Remedies</strong></p>
<ol>
<li><strong>Graha Shanthi Puja </strong><em>(For Hindus only)</em></li>
</ol>
<p><strong>For all life significances: </strong>Graha Shanti Puja &hellip;..</p>
<p><strong>The sankalpa or prayer is: To choose proper Career and have growth in it.</strong></p>
<p>This Graha Shanthi puja should be done &hellip;.</p>
<p>This puja should be done on &hellip;..</p>
<p>Chant Shani Mantra on Saturdays &hellip;. times.</p>
<ol>
<li><strong>Temple Visits </strong><em>(After Graha Shanthi Puja are done as above)</em></li>
</ol>
<p>Visit &hellip;&hellip;. temple and perform the archana in your name, as per that temple custom, pray for same sankalpa and for more benefits.</p>
<p><strong>Or</strong></p>
<p>&hellip;&hellip;..</p>
<p>The <strong>sankalpa (wish or prayer) </strong>is as mentioned above.</p>
<ol>
<li><strong>Gem Stone </strong><em>(After Graha Shanthi Puja and temple visits are done as above)</em><strong><br /></strong>Wear a &hellip;. gold ring, on a Sunday, Shani Hora time, &hellip;&hellip;</li>
</ol>
<p><strong>Solution</strong></p>
<p><strong>Shri Chakra Meditation (Dissolution of Karma) <br /></strong><em>(If not able to do Graha Shanthi Puja, Temple visits and wearing gem stones)</em></p>
<p>Shri Chakra Meditation on Lordess Maha Tripura Sundari (Adhi-Shakthi) with Mantra and Yantra and time to recite&hellip;&hellip;.</p>
<p>Regards, <br />Steve<br />I am accurate with my own astrological algorithm based on Samaya Amsa.</p>
<p><strong>लोका: समस्ता: सुखिनोभवन्तु</strong></p>
<br />
	<ion-text color="secondary">
		<h1>About Steve Hora</h1>
	</ion-text>
	<ion-text color="light"></ion-text>
		<p>A born astrologer, as per Sri [Vaithiswara Agasthiya Koushiha Nadi Grantha in Tamil](/articles/nadi-astrology/).
		In the palm-leaf reading, one of my professions are mentioned as below
		</p>
		<p>“ஜோதிடமும் கலை சார் அணி பண்டம் ….”

		<p>It means Astrology, Graphical Yantras are some of my professions.

		<p>I use Vedic (Sidereal) horoscope for Accurate timing and analysis, according to True Lahiri Ayanamsa (Chitra paksha), using sidereal solar years of 360, Horoscope Analysis is as per Parasara system and Timing using Vimshottari Dasha system and Samaya Amsa or Kaala or Naadi timing technique.</p>

		<p>Astrologically, I love to analyze Vedic (Sidereal) or Western (Tropical) Astrology, comprehend it and solve the unresolved question of human existence, in its various aspects, events, tribulation and the very ending.</p>

		<p>(This quality of mine is due to 5th lord Shukra sitting in 4th, and looking at 10th, Ketu is with Shani in Makara lagna. Shukra being my Yogakaraka graha, sitting in Aswini Ketu-nakshatra, in my horoscope).</p>

		<p>I challenge the status quo, ad-literam and anecdotal of vedic and western astrology, navigate uncharted waters, to find newer vistas from the astrology lore and find the truth. Be unbiased, even with his own opinion, or by the very information gathered, than to assimilate, digest, critically analyze, synthesize and find the truest path, which had been lost to time.</p>

		<p>(This quality of mine is due to Chandra exalted in Vrishabha and Makara Lagna Shani and Ketu sitting in Abhijit nakshatra, in my horoscope).</p>

		<p>Astrological Quote

		<p>ஞாலங் கருதினுங் கைகூடுங் காலம் கருதி இடத்தாற் செயின்</p>

		<p>Choose proper time and place and act, even the world, you will win with ease.</p>

		<p>--- from Thirukural (484 couplet) by Tamil Saint ThiruValluvar (1st century BC)</p>
	</ion-text>
	<ion-text color="secondary">
		About Steve Hora (Vedic Astrologer) — Disambiguation & Clarification
		www.stevehora.com is the only official website of Steve Hora, Vedic Astrologer.
		Not affiliated with gambling, numerology, or probability systems by my name Steve Hora. I would not be legally binding, if any body are involved in those illegal activities, nor got or get affected by that.
		<h1>References</h1>
	</ion-text>
	<section>
		<p><ion-router-link href="https://www.quora.com/profile/Steve-Hora" rel="noopener noreferrer"  target="_blank"  title="Quora Q2A">Most Viewed Writer on Jyotish (Vedic Astrology) on Quora</ion-router-link></p>
		<p><ion-router-link href="https://stevehora.substack.com/" rel="noopener noreferrer"  target="_blank"  title="Substack blog">Substack blog</ion-router-link></p>
	</section>
	<p><ion-router-link class="custom-center-label custom-footer-label" href="/about/" title="Copyright">{siteData.copyright}</ion-router-link>.</p>
</Layout>