---

import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';
import siteData from "../data/metadata.json";
import siteInfo from "../data/siteData.json";


const pageTitle = "Thank You";
const pageDescription = "Welcome to Vedic Astrology website by Steve Hora!";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "Horoscope Predictions", "Mundane Wordly Predictions"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = canonicalURL;
const pageimageUrl = siteInfo.default.image; //"/images/success.jpg";
const pageUrl = canonicalURL;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail,
  type: "Webpage",
  imageUrl: pageimageUrl
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url3, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};

const name = Astro.url.searchParams.get('name');
const ref = Astro.url.searchParams.get('ref');
---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
	<ion-text color="secondary">
		<h1>Thank You</h1>
	</ion-text>
	<ion-text color="light"></ion-text>
<p>Hi {name}, 😀</p>

<p>Received your query. Your reference number is {ref}, quote that for further communications.<span style="color: green;">&#x1F44D;</span></p>
<p>
<ion-text color="danger">
	<ion-button style="text-transform:none" shape="round" href="https://ig.me/m/stevehora_vedicastrology/" target="_blank">Chat for free prediction</ion-button>.
</ion-text>
</p>
<p>Check your Gmail for further information and action.<br /> Confidentiality of your private data and life information is assured.
</p>
<p>To know about my prediction accuracy and Shri Chakra solutions, read about reviews on website.</p>
<p>As always, assuring you of accurate and genuine astrological advice.</p>
Regards,</p><br />
Steve
<p>My profile is at <ion-router-link href="https://stevehora.com" title="Steve Hora">Vedic Astrology by Steve Hora</ion-router-link> and
<ion-router-link href="https://www.quora.com/profile/Steve-Hora" title="Steve Hora">Vedic Astrology on Quora.com</ion-router-link> 📌</p>
</Layout>