---

import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Announcements from '../components/Announcements.astro';
import StructuredData from '../components/StructuredData.astro';
import siteData from "../data/metadata.json";
import siteInfo from "../data/siteData.json";

const pageTitle = "Thank You";
const pageDescription = "Welcome to Vedic Astrology website by Steve Hora!";
const pageKeywords = ["Steve Hora", "Vedic Astrologer", "Horoscope Predictions", "Mundane Wordly Predictions"];
const pageWebsite = "www.stevehora.com";
const pageEmail = "vedicastrology123@gmail.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = canonicalURL;
const pageimageUrl = siteInfo.default.image; //"/images/success.jpg";
const pageUrl = canonicalURL;

const seoOverrides = {
  title: pageTitle,
  description: pageDescription,
  keywords: pageKeywords,
  url: pageUrl,
  email: pageEmail,
  type: "Webpage",
  imageUrl: pageimageUrl
};

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	name: pageTitle,
	description: pageDescription,
	url: new URL(siteData.menu.url3, Astro.site), 
	keywords: pageKeywords,
	website: pageWebsite,
	email: pageEmail
};

---

<Layout {...seoOverrides}>
	<Fragment slot="structured-data">
        <StructuredData structuredData={structuredData} />
    </Fragment>
	<ion-text color="secondary">
		<h1>Thank You</h1>
	</ion-text>
	<p><ion-router-link href="https://stevehora.com" title="Steve Hora">Vedic Astrology by Steve Hora</ion-router-link></p>
	<p><ion-router-link href="https://chat.google.com" rel="noopener noreferrer"  target="_blank"  title="Google Chat">Send a New Chat request to vedicastrology123@gmail.com, to chat with Steve Hora.</ion-router-link></p>
	<p><h5><ion-router-link href="https://docs.google.com/forms/d/e/1FAIpQLSf2SIxzRL87dW-pwnVLh5Q484ou7vLD1Yx-cKBLD7iXQvR3_g/viewform?pli=1"  rel="noopener noreferrer"  target="_blank" title="Horoscope predictions">For Horoscope predictions, Click here...</h5></ion-router-link></h5></p>
	<br />
	<ion-text color="secondary">
		<h1>About Steve Hora, Vedic Astrology Expert</h1>
	</ion-text>
	<ion-text color="light"></ion-text>
<p>Hi User,</p>

<p>Received your query for Birth Chart Predictions.</p>
<p>Check your email for further information and also enable Google chat in your gmail for further communications. 

</p>
<p>Please know about Me and My Expertise, from My Quora Profile, and Questions and My Answers.</p>

My profile is at https://stevehora.com and https://www.quora.com/profile/Steve-Hora.
To know about my prediction accuracy and Shri Chakra solutions, read about reviews on website.
As always with all other clients, Assuring you of accurate, genuine astrological advice.
Confidentiality of your private data and life information is assured.
Regards,
Steve

I am accurate with my Vedic Astrology based on Samaya Amsa.
For Remedial solutions based on Shri Chakra Meditation based on your horoscope.
 www.stevehora.com and its website policies apply. 

</p>
</Layout>