---
import metaInfo from '../data/metadata.json';
import IonicTabButton from './ionic/IonicTabButton';
---

<ion-footer>
    <ion-toolbar color="primary">
    <ion-tabs>
            <ion-tab-bar class="ion-justify-content-around" slot="bottom" color="secondary">
                <IonicTabButton href={ metaInfo.menu.url1 }>
                <ion-icon name={ metaInfo.menu.icon1 }></ion-icon>
                <ion-label><h4><b>{ metaInfo.menu.menu1 }</b></h4></ion-label></IonicTabButton>
                <IonicTabButton href={ metaInfo.menu.url7 }>
                <ion-icon name={ metaInfo.menu.icon7 }></ion-icon>
                <ion-label><h4><b>{ metaInfo.menu.menu7 }</b></h4></ion-label></IonicTabButton>
                <IonicTabButton href={ metaInfo.menu.url2 }  target="_blank">
                <ion-icon name={ metaInfo.menu.icon2 }></ion-icon>
                <ion-label><h4><b>{ metaInfo.menu.menu2 }</b></h4></ion-label></IonicTabButton>
                <IonicTabButton href={ metaInfo.menu.url3 }>
                <ion-icon name={ metaInfo.menu.icon3 }></ion-icon>
                <ion-label><h4><b>{ metaInfo.menu.menu3 }</b></h4></ion-label></IonicTabButton>
                <IonicTabButton href={ metaInfo.menu.url4 }>
                <ion-icon name={ metaInfo.menu.icon4 }></ion-icon>
                <ion-label><h4><b>{ metaInfo.menu.menu4 }</b></h4></ion-label></IonicTabButton>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>