	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Vedic Astrology</title>
		<!-- Import core Ionic CSS -->
        <link rel="stylesheet" href="/node_modules/@ionic/core/css/core.css">
        <link rel="stylesheet" href="/node_modules/@ionic/core/css/normalize.css">
        <link rel="stylesheet" href="/node_modules/@ionic/core/css/structure.css">
        <link rel="stylesheet" href="/node_modules/@ionic/core/css/typography.css">
        <!-- Optional: Import platform-specific styles if needed -->
        <link rel="stylesheet" href="/node_modules/@ionic/core/css/ionic.bundle.css"> 
        <!-- You might also consider importing specific themes like: -->
        <!-- <link rel="stylesheet" href="/node_modules/@ionic/core/css/palettes/dark.always.css"> -->

		<script type="module" src="/node_modules/@ionic/core/dist/ionic/ionic.esm.js"></script>
		<script nomodule src="/node_modules/@ionic/core/dist/ionic/ionic.js"></script>
	</head>