---
import IonicButton from './ionic/IonicButton.jsx';
import IonicIcon from './ionic/IonicIcon.jsx';
import IonicHeader from './ionic/IonicHeader.jsx';
import IonicToolBar from './ionic/IonicToolBar.jsx';

import IonicMenuButton from './ionic/IonicMenuButton.jsx';
import IonicTitle from './ionic/IonicTitle.jsx';
import IonicStartButtons from './ionic/IonicStartButtons';
import IonicEndButtons from './ionic/IonicEndButtons';

---
<style>
.icon-bg {
  background-color: #3a8adaff;   /* sets background color */
  /*-- border-radius: 50%;          /* round edges, use 50% for circle */
  padding-start: 50px;               /* space around icon */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-bg ion-icon {
  color: #fff;                 /* icon color (white) */
  font-size: 36px;             /* icon size */
}
</style>

     <IonicHeader>
        <ion-toolbar color="secondary">
            <IonicStartButtons>
                <IonicMenuButton>
                    <span class="icon-bg">
                        <ion-icon name="menu"></ion-icon>
                    </span>
                </IonicMenuButton>
            </IonicStartButtons>
            <ion-title class="custom-ion-title">Vedic Astrology</ion-title>
            <ion-title>Steve Hora</ion-title>
            <IonicEndButtons>
                 <IonicButton href="https://twitter.com/SteveVedicAstro" target="_blank">
                    <ion-icon name="logo-twitter"></ion-icon>
                </IonicButton>
            </IonicEndButtons>
            <IonicEndButtons>
                <IonicButton href="https://www.facebook.com/vedic.astrology123/" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </IonicButton>
            </IonicEndButtons>
            <IonicEndButtons>
                <IonicButton href="https://www.instagram.com/stevehora_vedicastrology/" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </IonicButton>
            </IonicEndButtons>
            <IonicEndButtons>
                <IonicButton href="https://www.linkedin.com/in/steve-hora-vedic-astrologer" target="_blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </IonicButton>
            </IonicEndButtons>
        </ion-toolbar>
    </IonicHeader>

